In [1]:
import pandas as pd
import numpy as np

In [2]:
rawdatafile = "../data/raw/UTK-peers.csv"

In [100]:
df = pd.read_csv(rawdatafile, index_col=0, 
                 na_values=["#N/A", " $-   "], 
                 true_values=["x", " -   "], 
                 false_values=["", "No"])
# Drop the empty rows at the end of the file
df = df[np.isfinite(df.index)]

In [101]:
df

,Name,IPEDS#,Carm R1,HBC,% Blk Total Students,% Hisp Total Students,2017 US News top 65,2014 Med School,Vet School,Total Enroll,...,ACT/ SAT 25%,ACT/ SAT 75%,(State/ Tuit)/ St. FTE,Med School Res $,Academic Support Expenditures,Student Services Expenditures,Endowment Figure,Endowment per Student FTE,Total Faculty.1,Total Tenure /Tenure-Track Facutly.1
0.0,Univ. of Tennessee - Knoxville,221759.0,1.0,False,7.0,3.0,46.0,NaN,x,"27,845",...,24,30,"$22,094",NaN,"$782,734,414","$30,587","$782,734,414","$30,587","1,526","1,117"
1.0,Univ. of Georgia,139959.0,1.0,False,8.0,5.0,18.0,NaN,x,"36,130",...,25,30,"$23,744",NaN,"$939,024,216","$27,831","$939,024,216","$27,831","1,918","1,606"
2.0,Purdue Univ.,243780.0,1.0,False,3.0,4.0,20.0,NaN,x,"40,472",...,23,30,"$25,231",NaN,"$2,445,541,926","$66,376","$2,445,541,926","$66,376","1,783","1,700"
3.0,Texas A&M Univ.,228723.0,1.0,False,3.0,19.0,27.0,pre clin,x,"63,813",...,23,29,"$29,423","$52,058","$10,521,034,492","$180,613","$10,521,034,492","$180,613","2,983","1,995"
4.0,Michigan State Univ.,171100.0,1.0,False,7.0,4.0,33.0,x,x,"50,538",...,23,28,"$22,975","$52,594","$2,549,137,018","$55,180","$2,549,137,018","$55,180","2,616","1,811"
5.0,Univ. of Minnesota,174066.0,1.0,False,4.0,3.0,26.0,x,x,"50,678",...,26,31,"$27,761","$245,218","$2,992,707,059","$69,914","$2,992,707,059","$69,914","3,096","2,191"
6.0,Clemson Univ.,NaN,1.0,False,6.0,3.0,23.0,NaN,NaN,"22,698",...,27,31,"$20,171",NaN,"$836,151,997","$39,850","$836,151,997","$39,850","1,134",878
7.0,Indiana Univ.,151351.0,1.0,False,4.0,5.0,36.0,NaN,NaN,"48,514",...,23,29,"$22,096","$286,926","$961,053,869","$23,154","$961,053,869","$23,154","1,995","1,348"
8.0,Rutgers Univ.,186380.0,1.0,False,8.0,12.0,25.0,x,NaN,"49,428",...,24,30,"$29,958","$118,935","$763,561,000","$17,135","$763,561,000","$17,135","3,158","1,753"
9.0,Auburn Univ.,100858.0,2.0,False,7.0,3.0,43.0,NaN,x,"27,287",...,24,30,"$24,038",NaN,"$593,270,763","$24,342","$593,270,763","$24,342","1,216",996
10.0,Iowa State Univ.,153603.0,1.0,False,3.0,4.0,51.0,NaN,x,"35,714",...,22,28,"$16,986",NaN,"$702,478,683","$20,925","$702,478,683","$20,925","1,587","1,285"
11.0,NC State Univ.,199193.0,1.0,False,6.0,4.0,38.0,NaN,x,"34,015",...,25,30,"$25,758",NaN,"$885,055,000","$30,328","$885,055,000","$30,328","1,690","1,350"
12.0,Pennsylvania State Univ.,214777.0,1.0,False,4.0,6.0,14.0,pre clin,NaN,"47,307",...,24,29,"$45,534","$92,566",NaN,$0,"$1,434,107,000","$31,148","2,787","1,608"
13.0,Univ. of California - Davis,110644.0,1.0,False,2.0,17.0,10.0,x,x,"35,186",...,23,30,"$24,345","$166,513","$320,745,000","$9,362","$320,745,000","$9,362","2,211","1,431"
14.0,Ohio State Univ.,204796.0,1.0,False,5.0,4.0,16.0,x,x,"58,663",...,27,31,"$22,927","$338,112","$3,595,323,149","$67,153","$3,595,323,149","$67,153","3,594","2,386"
15.0,Univ. of Florida,134130.0,1.0,False,6.0,17.0,14.0,x,x,"50,645",...,26,30,"$22,385","$273,534","$1,519,964,000","$33,544","$1,519,964,000","$33,544","2,471","1,981"
16.0,Univ. of Illinois,145637.0,1.0,False,5.0,8.0,10.0,x,x,"45,842",...,26,31,"$22,677",NaN,"$1,289,584,273","$29,908","$1,289,584,273","$29,908","2,278","1,799"
17.0,Univ. of Wisconsin,240444.0,1.0,False,2.0,5.0,10.0,x,x,"42,716",...,27,31,"$20,145","$306,026","$3,133,196,699","$78,739","$3,133,196,699","$78,739","3,393","1,982"
18.0,Univ. of California - Berkeley,110635.0,1.0,False,2.0,12.0,1.0,NaN,NaN,"38,189",...,28,34,"$29,277",NaN,"$1,671,939,000","$45,553","$1,671,939,000","$45,553","1,650","1,381"
19.0,Univ. of California - Los Angeles,110662.0,1.0,False,3.0,18.0,2.0,x,NaN,"41,908",...,26,33,"$27,863","$548,384","$1,616,045,000","$39,447","$1,616,045,000","$39,447","3,290","1,688"
20.0,Univ. of California - Santa Barbara,110705.0,1.0,False,2.0,24.0,8.0,NaN,NaN,"23,497",...,24,31,"$22,033",NaN,"$144,379,000","$6,237","$144,379,000","$6,237",923,803
21.0,Univ. of Maryland,163286.0,1.0,False,11.0,8.0,20.0,NaN,NaN,"38,140",...,27,32,"$25,712",NaN,"$487,268,756","$13,903","$487,268,756","$13,903","1,813","1,376"
22.0,Univ. of Michigan,170976.0,1.0,False,4.0,5.0,4.0,x,NaN,"43,651",...,29,33,"$30,630","$563,444","$9,603,919,000","$228,885","$9,603,919,000","$228,885","6,218","2,744"
23.0,Univ. of North Carolina,199120.0,1.0,False,8.0,7.0,5.0,x,NaN,"29,084",...,28,33,"$33,961","$534,188","$2,659,759,286","$103,326","$2,659,759,286","$103,326","1,731","1,209"
24.0,Univ. of Pittsburgh,215293.0,1.0,False,5.0,3.0,24.0,x,NaN,"28,649",...,26,30,"$28,860","$621,105",NaN,$0,"$3,610,395,000","$136,109","3,932","1,565"
25.0,Univ. of Texas - Austin,228778.0,1.0,False,4.0,20.0,18.0,x,NaN,"50,950",...,26,32,"$26,931","$4,335","$3,376,824,061","$69,883","$3,376,824,061","$69,883","2,728","1,855"
26.0,Univ. of Virginia,234076.0,1.0,False,6.0,5.0,2.0,x,NaN,"23,883",...,28,33,"$27,434","$218,793","$5,876,310,216","$261,646","$5,876,310,216","$261,646","2,127","1,387"
27.0,Univ. of Washington,236948.0,1.0,False,2.0,7.0,16.0,x,NaN,"45,408",...,24,31,"$27,946","$535,259","$2,915,057,707","$69,653","$2,915,057,707","$69,653","3,569","2,554"
28.0,Louisiana State Univ.,159391.0,1.0,False,12.0,6.0,64.0,NaN,x,"31,524",...,23,28,"$18,075",NaN,"$506,467,351","$17,424","$506,467,351","$17,424","1,282",965
29.0,Virginia Tech,233921.0,1.0,False,4.0,5.0,27.0,NaN,x,"32,663",...,24,29,"$21,263",NaN,"$788,800,000","$25,645","$788,800,000","$25,645","1,731","1,419"
30.0,Univ. of Kentucky,157085.0,1.0,False,7.0,4.0,63.0,x,x,"29,727",...,22,28,"$20,901","$127,384","$1,215,225,687","$43,601","$1,215,225,687","$43,601","1,686","1,477"
31.0,Mississippi State Univ.,176080.0,2.0,False,19.0,2.0,93.0,NaN,x,"20,873",...,21,29,"$16,673",NaN,"$456,609,736","$24,194","$456,609,736","$24,194",956,748
32.0,Univ. of Missouri,178396.0,1.0,False,7.0,3.0,51.0,x,x,"35,424",...,24,29,"$17,496","$24,007","$806,717,048","$24,847","$806,717,048","$24,847","1,848",973
33.0,Univ. of Alabama,100751.0,2.0,False,11.0,4.0,46.0,NaN,NaN,"37,098",...,22,31,"$17,770",NaN,"$667,980,131","$19,818","$667,980,131","$19,818","1,328",895
34.0,Univ. of Arkansas -,106397.0,1.0,False,5.0,7.0,64.0,NaN,NaN,"26,754",...,23,28,"$17,032",NaN,"$929,693,370","$40,082","$929,693,370","$40,082","1,149",785
35.0,Univ. of Mississippi,176017.0,1.0,False,13.0,3.0,64.0,NaN,NaN,"23,212",...,21,28,"$23,712","$34,538","$666,670,997","$30,988","$666,670,997","$30,988","1,789",976
36.0,Univ. of South Carolina,218663.0,1.0,False,10.0,4.0,49.0,x,NaN,"33,724",...,24,29,"$16,170","$12,200","$484,082,093","$15,682","$484,082,093","$15,682","1,440",944
37.0,Florida State Univ.,134097.0,1.0,False,8.0,17.0,38.0,x,NaN,"40,830",...,25,29,"$16,559","$9,860","$624,556,561","$16,867","$624,556,561","$16,867","1,486","1,067"
38.0,Univ. of Oklahoma,207500.0,1.0,False,5.0,8.0,51.0,NaN,NaN,"27,428",...,24,29,"$18,309","$92,341","$965,937,000","$41,586","$965,937,000","$41,586","1,191",948
39.0,Univ. of Nebraska,181464.0,1.0,False,3.0,5.0,51.0,NaN,x,"25,260",...,22,28,"$20,905",NaN,"$203,672,175","$8,962","$203,672,175","$8,962","1,239","1,011"
40.0,Delaware,130943.0,1.0,False,6.0,7.0,30.0,NaN,x,"22,852",...,24,29,"$24,539",NaN,NaN,$0,"$312,293,000","$14,644","1,119",839
41.0,Colorado State,126818.0,1.0,False,2.0,10.0,63.0,NaN,x,"30,614",...,22,28,"$13,995",NaN,"$297,089,069","$11,361","$297,089,069","$11,361","1,301",995
42.0,Univ. of Kansas,155317.0,1.0,False,4.0,6.0,56.0,NaN,NaN,"27,259",...,22,28,"$21,834","$118,617","$1,494,880,664","$61,139","$1,494,880,664","$61,139","2,169","1,287"
43.0,Arizona State,104151.0,1.0,False,4.0,17.0,63.0,NaN,NaN,"51,984",...,23,28,"$28,354",NaN,"$625,833,000","$13,057","$625,833,000","$13,057","1,935","1,329"
44.0,Georgia Tech,139755.0,1.0,False,6.0,6.0,7.0,NaN,NaN,"25,034",...,29,34,"$25,538",NaN,"$1,889,014,000","$88,387","$1,889,014,000","$88,387","1,031",923
45.0,U. of Massachusetts,166629.0,1.0,False,4.0,5.0,27.0,NaN,NaN,"29,269",...,25,29,"$25,276",NaN,"$307,098,028","$12,131","$307,098,028","$12,131","1,321","1,051"
46.0,Univ. of Colorado,126614.0,1.0,False,2.0,10.0,38.0,NaN,NaN,"33,056",...,24,30,"$25,120",NaN,NaN,$0,"$528,800,000","$18,018","1,457","1,080"
47.0,Univ. of Oregon,209551.0,1.0,False,2.0,9.0,46.0,NaN,NaN,"24,032",...,21,27,"$18,892",NaN,"$659,671,118","$29,395","$659,671,118","$29,395","1,054",711
48.0,SUNY - Stony Brook,196097.0,1.0,False,6.0,9.0,42.0,x,NaN,"25,272",...,25,31,"$29,914","$95,980","$196,350,990","$8,743","$196,350,990","$8,743","1,663","1,010"
49.0,UC-Irvine,110653.0,1.0,False,2.0,22.0,9.0,x,NaN,"30,836",...,22,29,"$23,345","$131,572","$310,163,000","$10,232","$310,163,000","$10,232","1,723","1,159"
50.0,UC-San Diego,110680.0,1.0,False,1.0,14.0,10.0,x,NaN,"32,906",...,27,33,"$25,188","$539,947","$534,912,000","$16,592","$534,912,000","$16,592","2,075","1,226"
51.0,Connecticut,129020.0,1.0,False,5.0,8.0,20.0,x,NaN,"27,043",...,25,30,"$38,502","$93,438","$367,014,863","$14,783","$367,014,863","$14,783","1,896","1,290"
52.0,Iowa,153658.0,1.0,False,3.0,6.0,35.0,x,NaN,"30,844",...,23,28,"$23,496","$234,695","$1,251,356,000","$46,877","$1,251,356,000","$46,877","2,320","1,391"
53.0,Buffalo,196088.0,1.0,False,6.0,5.0,43.0,x,NaN,"29,796",...,23,28,"$25,099","$189,284","$624,790,675","$23,581","$624,790,675","$23,581","1,597","1,128"
54.0,Utah,230764.0,1.0,False,1.0,10.0,52.0,x,NaN,"31,592",...,21,28,"$22,927","$220,518","$723,827,000","$28,036","$723,827,000","$28,036","1,712","1,141"
55.0,UC-Riverside,110671.0,1.0,False,4.0,33.0,58.0,x,NaN,"21,385",...,21,27,"$23,444","$5,736","$136,003,000","$6,453","$136,003,000","$6,453",844,682
56.0,Arizona,104179.0,1.0,False,4.0,23.0,62.0,x,NaN,"42,595",...,-,-,"$21,999","$172,084","$760,679,000","$19,705","$760,679,000","$19,705","1,820","1,449"

In [102]:
# Fill in missing values from research

In [103]:
# Add Clemson IPEDS number
ix = np.where(df["Name"] == "Clemson Univ.")[0][0]
df.at[ix, "IPEDS#"] = 217882

In [104]:
# Drop "HBC" since it has no variance
# Drop "Med School Res $" since it's missing for many schools
drop_columns = [
    "HBC", 
    "Med School Res $",
]
df.drop_columns

In [105]:
# Some of these columns are categorical.
# Convert them to one-hot
categorical_columns = [
    "Carm R1",
    "2014 Med School",
    "Vet School",
]

In [108]:
df.dtypes

Name                                           object
IPEDS#                                        float64
Carm R1                                       float64
HBC                                            object
% Blk Total Students                          float64
% Hisp Total Students                         float64
2017 US News top 65                           float64
2014 Med School                                object
Vet School                                     object
 Total Enroll                                  object
% Grad Enroll                                 float64
Six-year graduation rate                      float64
 ACT/ SAT Avg                                 float64
Fresh Admit Rate                              float64
% Freshmen Retention                          float64
% UG Pell Grants                              float64
% Bachelors                                   float64
% Doct/ Profess                               float64
Total E&G Expend                               object
E&G / St. FTE                                  object
State Approp Rev                               object
Tuition/Fee Rev                                object
% Rev from State                              float64
% Rev from Tuit/Fees                          float64
% from State / Tuition                        float64
Endowment                                      object
Total Research Expenditures ($000)             object
Student Faculty Ratio                         float64
Total Faculty                                  object
ARU Faculty Awards                            float64
                                               ...
Enowment / St. FTE                             object
Total Research Exp - Med School Exp ($000)     object
AG Research ($000)                             object
Total Tenure /Tenure-Track Facutly             object
Facutly FTE                                    object
% UG with Loans                               float64
% UG Age 25 +                                 float64
% Total Age 25 +                              float64
 % Full-Time                                   object
Faculty Academy Memb                           object
 UG Total Enroll                               object
 GR Total Enroll                               object
 Full-time Students                            object
 Part-time Students                            object
UG Enroll Age 25 +                             object
GR Enroll Age 25 +                             object
Bach Degrees                                   object
Masters Degrees                                object
Doctoral Degrees                              float64
Profess Degrees                                object
ACT/ SAT 25%                                   object
ACT/ SAT 75%                                   object
(State/ Tuit)/ St. FTE                         object
Med School Res $                               object
Academic Support Expenditures                  object
Student Services Expenditures                  object
Endowment Figure                               object
Endowment per Student FTE                      object
Total Faculty.1                                object
Total Tenure /Tenure-Track Facutly.1           object
Length: 65, dtype: object